/node_modules
/public/hot
/public/.htaccess
/public/storage
/storage/*.key
/storage/app/public/images
/storage/app/public/old
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
composer.json
test.php
mld.png
manage_users.jpg
node_modules
