
/*----------Calendar--------------*/
.multilist_calendar{
    border-radius: 25px;
    overflow: hidden;
}

.month {
    padding: 20px 25px;
    width: 100%;
    background: var(--primary-color);
    text-align: center;
  }

  .month ul {
    margin: 0;
    padding: 0;
  }

  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .month .prev {
    float: left;
    padding-top: 10px;
    cursor: pointer;
  }

  .month .next {
    float: right;
    padding-top: 10px;
    cursor: pointer;
  }

  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
  }

  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
    font-size: 11px;
  }

  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
  }

  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
  }

  .days li span:not(.active,.dispo,.notdispo):hover{
    background: #dddddd;
  }

  .days li span {
    cursor: pointer;
    padding: 7px 0;
    border-radius: 5px;
    min-width: 30px;
    display: inline-block;
  }

  .days li .active {
    background: var(--primary-color);
    color: white !important
  }

  .days li .dispo {
    background: #1abc9c;
    color: white !important
  }

  .days li .notdispo {
    background: red;
    color: white !important
  }

  .days_loader{
    padding: 10px 0;
    background: #eee;
    margin: 0;
    text-align: center;
  }

  /* Add media queries for smaller screens */
  @media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
  }

  @media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
  }

  @media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
  }


.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /*-----------------------*/
