body {
    background-color: #f5f5f5;
}

.login-container .form-group {
    margin-top: 10px;
}

.login-container .form-control {
    border-radius: 5px;
}

.login-container {
    margin: 40px auto;
    width: 90%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    max-width: 90%;
}

.login-container .btn {
    background-color: var(--primary-color);
    border: none;
    border-radius: 15px;
    color: #fff;
    width: 200px;
    padding: 10px;
    margin: auto;
    display: block;
}

.btn.contact{
    padding: 5px;
    margin-left: auto !important;
    margin-right: 0!important;
}

#verification-code{
    font-size: 50px;
    text-align: center;
}

.form-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 20px;
}

.form-grid .form-group{
    width: 95%;
}

/* if size of screen is smaller than 425*/
@media screen and (max-width: 425px) {
    .login-container {
        width: 100%;
        margin:40px 0;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .form-grid{
        grid-template-columns: 100%;
    }
}
