

@media (max-width:1300px) {
    #profile .col-lg-4 , #profile .col-lg-8 {
        flex: 0 0 auto;
        width: 100%;
    }
}


@media (max-width:940px) {

    .desc{
        margin: 25px 10px;
    }
}
