@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;600&display=swap');


:root {
    --header-height: 80px;
    --gray-color: rgb(59, 59, 59);
    --lightgray-color: #888;
    --lightgray-border-color: #e6e6e6;
    --blue-link-color: #00639E;
    --multi_color: #363636;
}

* {
    user-select: none;
    font-family: 'Montserrat';
}

body {
    font-family: 'Radio Canada', sans-serif;
    font-family: 'Montserrat';
    scroll-behavior: smooth;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    margin-top: auto;
    color: #fff;
    /* margin-top: 200px; */
}

.footer-univers{
    width: 70%;
    min-height: 50px;
    border-right: 1px solid var(--lightgray-border-color);
    display: flex;
    align-items: center;
    padding: 0 45px;
}

.footer-univer{
    width: 25%;
    margin: 0 15px;
    position: relative;
    text-align: center;
    height: 30px;
}

.footer-univer img{
    max-width: 60%;
    max-height: 30px;
}

.footer-univer .bg-rect{
    height: 4px;
    position: absolute;
    width: 60%;
    bottom: -22px;
    left: 20%;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    margin: 9;
    padding: 0;
}

li {
    list-style: none;
    /*display: inline-block;*/
    margin: 0;
    padding: 0;
}

input:focus, select:focus, textarea:focus {
    box-shadow: none !important;
    border-color: rgb(177, 177, 177) !important;
}

/* light page scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.see-more,
.see-less {
    color: var(--blue-link-color);
    text-decoration: underline;
}

/* multilist-nav-tab */

.multilist-nav-tab {
    display: flex;
    flex-direction: column;
    width: 800px;
    overflow: hidden;
    background: white;
    border-radius: 5px;
    max-width: 100%;
}

.multilist-nav-tab .multilist-nav-items {
    display: flex;
    /* width: calc(100% - 8px * 2); */
    width: 100%;
    justify-content: space-between;
    /* margin: 0 8px; */
    border: solid var(--lightgray-border-color);
    border-width: 0 0 1px 0;
    position: relative;
}

.multilist-nav-tab .multilist-nav-items .multilist-nav-button {
    flex: 1;
    height: 50px;
    background: white;
    border-style: none;
    color: var(--lightgray-color);
}

.multilist-nav-tab .multilist-nav-items .multilist-nav-button:hover {
    color: black;
}

.multilist-nav-tab .multilist-nav-items .multilist-nav-button.active {
    color: var(--secondary-color);
    font-weight: 600;
    border-bottom: 3px solid var(--secondary-color);
}

.multilist-nav-tab .multilist-nav-items .active-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: var(--primary-color);
    display: none;
    transition: all 0.2s ease 0s;
    border-radius: 5px;
}

.multilist-nav-tab .multilist-tab-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.multilist-nav-tab .multilist-tab-pane {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    color: #373736;
    font-size: 14px;
    font-weight: 600;
}

.multilist-popup-footer-mobile{
    display: none;
}

.filter-select-group{
    display: grid;
    grid-template-columns: 50% 50%;
}

.filter-select-group .form-group{
    margin-right: 10px;
    margin-left: 10px;
}

/* multilist-nav-tab end */

/* variables */

.site-section {
    /* height: 100vh; */
    padding: 10px 30px;
}

.section-heading h1 , .section-heading h2 , .section-heading h3 , .section-heading h4 {
    font-size: 22px;
    font-weight: 600;
    color: #373736;
    text-transform: uppercase;
}

.section-heading .heading-underline {
    background: var(--primary-color);
    height: 5px;
    width: 70px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.slide {
    position: relative;
    overflow-x: hidden;
    min-height: 380px;
}

.slide .slide-item {
    top: 0;
    left: 0;
    position: absolute;
    padding: 10px;
}

.slide .mov-btn-prev,
.slide .mov-btn-next {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 1px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    transition: all ease .5s;
    border: 1px solid rgb(246, 246, 246);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.032);
    z-index: 11;
}

.slide .mov-btn-prev,
.slide2 .mov-btn-prev {
    left: 1px;
}
.mov-btn-prev:hover,.mov-btn-next:hover{
    border: 1px solid #cecece;
}

.header {
    background: white;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
     /* margin: 0 30px;  */
    height: var(--header-height);
    z-index: 99;
    /*overflow-y: hidden;
    overflow-x: scroll;*/
    transition: all .5s ease;
}

.header.scrolled {
    box-shadow: 0px 0px 5px rgb(0 0 0 / 50%);
}

/* header hidden scrollbar */
.header::-webkit-scrollbar {
    display: none;
}

.header .logo {
    position: sticky;
    left: 0;
    z-index: 1;
    align-items: center;
    display: flex;
    padding: 10px;
}

.header .logo img {
    width: 150px;
    margin-right: 10px;
}

.header .btn-new-announcement {
    background: var(--primary-color);
    color: white;
    font-size: 14px;
    display: flex;
    border-radius: 20px;
    padding: 8px 17px;
    border-style: none;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-right: auto;
    animation: jittery 4s infinite;
    font-weight: 600;
    margin-left: 15px;
}

.header .btn-new-announcement:hover {
    animation: heartbeat 0.4s infinite;
}

.header .btn-new-announcement i {
    margin-right: 10px;
}

@keyframes jittery {
    5%, 50% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.9);
    }

    15% {
        transform: scale(1.15);
    }

    20% {
        transform: scale(1.15) rotate(-5deg);
    }

    25% {
        transform: scale(1.15) rotate(5deg);
    }

    30% {
        transform: scale(1.15) rotate(-3deg);
    }

    35% {
        transform: scale(1.15) rotate(2deg);
    }

    40% {
        transform: scale(1.15) rotate(0);
        z-index: auto;
    }
}

@keyframes heartbeat {
    50% {
        transform: scale(1.1);
    }
}

.header .menu {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-inline-start: auto;
}

.header .menu-item {
    color: var(--gray-color);
    align-items: center;
    font-size: 14px;
    min-width: 40px;
    margin-left: 20px;
    justify-content: end;
    white-space: nowrap;
}

.header .menu-item:hover {
    color: black;
}

.header .menu-item i {
    margin-right: 10px;
}

.right-menu-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: sticky;
    right: 10px;
    width: 50px;
    height: 30px;
    display: none;
}



.right-menu {
    position: fixed;
    left: 100%;
    top: var(--header-height);
    width: 40%;
    height: calc(100% - var(--header-height));
    z-index: 1000;
    background: white;
    transition: all ease .3s;
    display: flex;
    flex-direction: column;
}

.right-menu-active {
    left: 60%;
    transition: all ease .3s;
}

.right-menu .right-menu-item {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    border: solid rgb(232, 232, 232);
    color: #373736;
    border-width: 0 0 1px 0;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    background-color:transparent;
}

.right-menu-item.user-avatar-info{
    cursor: unset!important;
}

.right-menu .right-menu-item.active{
    color: #0a58ca;
}

.right-menu .right-menu-item:not(.user-avatar-info):hover{
    color: #0a58ca;
}

.right-menu .right-menu-item i {
    margin-right: 8px;
}

footer{
    background: #57585a!important;
}

.footer-bottom-link-cnt{
    display: flex;
    justify-content: center;
}

.filter-section {
    /* height: calc(100vh - var(--header-height) - 30px); */
    min-height: 450px;
    /* height: 450px; */
    /* background: url(/images/bg.webp); */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    margin: 30px;
    border-radius: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.filter-section .filter-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 40%;
    left: 50%;
    max-width: 100%;
}

.filter-section h1 {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    border-radius: 10px;
    text-shadow: 0 0 5px #bcbbbb;
}

.filter-section .multilist-nav-tab {
    display: flex;
    flex-direction: column;
    width: 800px;
    overflow: hidden;
    background: white;
    border-radius: 5px;
    max-width: 95%;
}

.filter-section .filter-forms .filter-nav {
    display: flex;
    width: calc(100% - 8px * 2);
    justify-content: space-between;
    margin: 0 8px;
    border: solid #ccc;
    border-width: 0 0 1px 0;
    position: relative;
}

.filter-section .filter-forms .filter-nav button {
    flex: 1;
    height: 50px;
    background: white;
    border-style: none;
    color: var(--lightgray-color);
}

.filter-section .filter-forms .filter-nav button:hover {
    color: black;
}

.filter-section .filter-forms .filter-nav button.active {
    color: black;
}

.filter-section .filter-forms .filter-nav .active-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: var(--primary-color);
    display: none;
    transition: all 0.2s ease 0s;
}

.filter-section .filter-forms .form-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.filter-section .filter-forms .filter-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    display: none;
}

.filter-section .filter-forms .form-group i {
    position: absolute;
    left: 23px;
    transform: translateY(-50%);
    top: 50%;
    color: rgb(121, 121, 121);
    font-size: 12px;
}

.filter-section .filter-type {}

.filter-section input {
    border: none;
    outline: none;
    font-size: 14px;
    margin-right: 10px;
    background: #fbfbfb;
}

.filter-section input:focus {
    background: #f5f5f5;
}

.filter-section .btn-submit {
    color: white;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: 17px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 6px 17px;
    display: flex;
    white-space: nowrap;
    margin-top: auto;
    cursor: pointer;
    transition: all ease .3s;
    margin: 0;
    font-weight: 600;
}

.filter-section .type-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(2,0,36,0.7934524151457458) 0%, rgb(0 0 0 / 45%) 35%, rgba(0,212,255,0) 100%);
}

.filter-section .type-container .type-scroll-container {
    overflow-x: scroll;
    display: flex;
    width: 100%;
    scroll-behavior: smooth;
}

/* hide scrollbar */
.filter-section .type-container .type-scroll-container::-webkit-scrollbar {
    display: none;
}

.filter-section .type-container .more-types-btn {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 100px;
    background: linear-gradient(271deg, #000000a8, transparent);
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    font-size: 30px;
    border-style: none;
}

.filter-section .type-container .more-types-btn i {
    margin-right: 10px;
    animation: right-arrow-animation 1s ease-in-out infinite;
}

/* move right and left arrow animation*/
@keyframes right-arrow-animation {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.filter-section .type-item {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: space-between;
    width: 20%;
    min-width: 120px;
}

.filter-section .type-item a {
    background: rgba(0, 0, 0, 0.056);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: 22px;
    position: relative;
    line-height: 1;
}

.filter-section .type-item a .bg-rect {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--primary-color);
    transition: all ease .3s;
}

.filter-section .type-item a img {
    height: 35px;
    z-index: 10;
}

.filter-section .type-item a:hover .bg-rect,
.filter-section .type-item.active a .bg-rect {
    height: 100%;
    transition: all ease .3s;
}

.filter-section .type-item a .type-title span {
    font-size: 8px;
    display: flex;
}

#booklist .bg-rect {
    background: var(--booklist-main-color);
}

#homelist .bg-rect {
    background: var(--homelist-main-color);
}

#primelist .bg-rect {
    background: var(--primelist-main-color);
}

#landlist .bg-rect {
    background: var(--landlist-main-color);
}

#officelist .bg-rect {
    background: var(--officelist-main-color);
}


/* end filter popup */

.a-la-lune-cette-semaine-section .multiads {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    padding: 10px;
    overflow: hidden;
    border: solid 1px rgb(240, 240, 240);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    border: 1px solid #cecece99;
    padding: 0;
}

.a-la-lune-cette-semaine-section .multiads .img {
    width: 100%;
    height: 60%;
    /* background: url(https://multilist.immo/uploads/img/file_20220324005346-9cfcb7a3.png); */
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    /* border-radius: 5px; */
}

.a-la-lune-cette-semaine-section .multiads .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    padding: 10px;
}

.a-la-lune-cette-semaine-section .multiads .content .title {
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    width: calc(100% - 30px);
}

.a-la-lune-cette-semaine-section .multiads .content .title h1 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: #373736;
}

.a-la-lune-cette-semaine-section .multiads .content .description {
    font-size: 12px;
    color: #000;
    margin-bottom: 10px;
    flex:1;
    overflow: hidden;
}

.a-la-lune-cette-semaine-section .multiads .content .description p {
    margin: 0;
    /* max tow line */
    text-overflow: ellipsis;
    max-height: 3em;
    overflow: hidden;
}

.a-la-lune-cette-semaine-section .multiads .content .location {
    font-size: 12px;
    color: rgb(58, 58, 58);
    margin-left: 3px;
    font-weight: normal;
    margin-bottom: 3px;
}

.a-la-lune-cette-semaine-section .multiads .content .location i {
    margin-right: 3px;
    font-size: 28px;
}

.a-la-lune-cette-semaine-section .multiads .content .price {
    font-weight: 600;
    font-size: 15px;
    color: var(--secondary-color);
    margin-left: auto;
    margin-top: auto;
}

.user-avatar-info {
    padding: 0 5px;
    cursor: pointer;
}

.user-avatar-info img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid #c8c8c8;
    border-radius: 50%;
}

.user-avatar-info .username {
    margin-left: 5px;
    font-size: 13px;
    font-weight: 600;
}

.dropdown-menu1,.langueSwitcher {
    min-width: 240px;
    max-width: 240px;
    margin: 0!important;
    border-radius: 4px;
    padding: 10px 0;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(82 63 105 / 20%);
    position: fixed;
    top: 80px;
    background-color: #fff;
    background-clip: padding-box;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    z-index: 1000;
    display: none;
}


.dropdown-menu1.show {
    display: block !important;
}

.dropdown-menu1 .dropdown-item1 {
    width: 100%;
    clear: both;
    font-weight: 300;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    display: flex;
    font-size: 13px;
    padding: 10px 15px;
    transition: 0.3s;
    cursor: pointer;
    align-items: center;
}

.dropdown-menu1 .dropdown-item1 i {
    margin-right: 10px;
    font-size: 18px;
    line-height: 0;
}

.dropdown-menu1 .dropdown-item1:hover {
    background-color: #f6f9ff;
}

.dropdown-menu1 li {
    display: list-item !important;
}

/* animate btn-go-to-item up and down */
@keyframes btn-go-to-item {
    0% {
        transform: translateX(-50%);
    }
    10% {
        transform: translateX(-50%) translateY(-60%);
    }
    30% {
        transform: translateX(-50%);
    }
}


@media screen and (max-width: 1200px) {
    .sidebar{
        display: none !important;
    }

    .right-menu-btn-container{
        display: flex;
        margin-inline-start: auto;
    }

    .header .menu {
        display: none;
    }
}

@media (max-width: 995px) {
    .ml-mb{
        margin-inline-start: 20px;
    }
}

@media (max-width: 500px) {
    .right-menu {
        width: 100% !important;
    }

    .right-menu-active {
        left: 0 !important;
    }

    .ml-mb{
        margin-inline-start: 20px;
    }

    .d-mb-block{
        display: block !important;
    }

    .footer-bottom-link-cnt{
        margin-top: 5px;
    }
}

.footer-inner{
    margin-left: 100px;
}

.footer-bottom-link{
    color: #fff;
    margin: 0;
    font-size: 13px;
    padding: 0 10px;
    height: 20px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

/* for screens less than 768*/
@media (max-width: 768px) {

    .footer-bottom-link{
        font-size: 10px;
    }

    .footer-univers{
        display: none;
    }

    .footer-inner{
        margin-left: auto;
        margin: auto;
        width: 90%;
    }

    .footer-info{
        text-align: start !important;
    }

    .footer-inner img.img-fluid{
        width: 300px;
    }

    .filter-section {
        background: var(--primary-color);
    }

    .filter-section h1 {
        text-shadow: none;
    }

    .right-menu {
        width: 60%;
    }

    .right-menu-active {
        left: 40%;
    }

    /* multilist nav tab */

    .multilist-nav-tab .multilist-nav-items .multilist-nav-button{
        height: 40px;
    }

    .multilist-nav-tab .multilist-nav-items {
        font-size: 14px;
    }

    /* multilist nav tab end */

    .header .logo img {
        width: 120px;
    }

    .header {
        padding: 0;
    }

    .header .btn-new-announcement {
        font-size: 10px;
    }

    .site-section {
        /* height: 100vh; */
        padding: 0px 10px;
    }

    .filter-section {
        margin: 0;
        border-radius: 0;
    }

    .filter-section .multilist-tab-container .multilist-tab-pane *:first-child {
    }

    .filter-section .multilist-tab-container .multilist-tab-pane .form-control {
        margin: 0;
        font-size: 16px;
    }

    .filter-section .multilist-tab-container .multilist-tab-pane .btn-submit {
        font-size: 12px;
        margin-left: 10px;
    }

    .filter-section .multilist-tab-container .multilist-nav-items button i {
        margin: 0 !important;
    }

    .multilist-nav-tab .multilist-tab-pane{
        padding: 10px 15px;
    }

    .section-heading h1 {
        font-size: 18px;
    }

    .slide .mov-btn-prev, .slide .mov-btn-next {
        width: 30px;
        height: 30px;
    }

    #filter-popup .features {
        justify-content: start;
    }

    .stories .story {
        width: 150px;
        height: 200px;
    }

    .stories .story .story-publisher .story-publisher-img {
        width: 50px;
        height: 50px;
        /* margin-left: auto;
        margin-right: auto; */
    }

    .stories-section .shown-story .btn-right,
    .stories-section .shown-story .btn-left {
        display: none;
    }


    .story-publisher,.story-title{
        display: none !important;
    }

    .stories .story{
        width: 80px !important;
        height: 80px !important;
        box-shadow: unset !important;
        border: 3px solid var(--primary-color) !important;
        border-radius: 50% !important;
        box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 19%) !important;
    }

    .stories .story-container{
        padding: 5px !important;
    }

}


#error-toast {
    position: fixed;
    top: 70px;
    right: 30px;
    z-index: 10000000000;
    display: none;
}

#error-toast.show {
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
    display: block!important;
}

/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 70px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 70px;
        opacity: 1;
    }
}

.multilistChatBot{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    /*pointer-events: none;*/
}


footer .nav-link{
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.banner-billboard{
    width: 970px;
    margin: 10px auto;
}

.banner-panorama{
    width: 970px;
    margin: 10px auto;
}

.banner-leaderboard{
    width: 728px;
    margin: 10px auto;
}

.banner-mobile{
    width: 320px;
    margin: 10px auto;
}

.banner-sidebanner{
    position: absolute;
    width: 160px;
    height: 100%;
    z-index: 2;
    top: 10px;
}

.sidebanner-right{
    left: -180px;
}

.sidebanner-left{
    left: calc(100% + 20px);
}

.side_banner_sticky {
    position: sticky;
    top: 60px;
    width: 100%;
    height: 0;
    padding-bottom: 615px;
}

.side_banner_sticky_cnt {
    width: 100%;
    height: 600px;
}

#list-section{
    width: 900px;
    margin: auto;
    position: relative;
    /* background-color: #a7a7a71c; */
}

@media (max-width: 1320px) {
    #list-section{
        width: 100%;
    }
    .banner-sidebanner{
        display: none;
    }
}

@media (max-width: 1000px) {
    .banner-billboard , .banner-panorama{
        display: none;
    }
    .cities-card-cnt{
        width: 100% !important;
    }
}

@media (max-width: 750px) {
    .banner-leaderboard{
        display: none;
    }
    .cities-card-cnt{
        grid-template-columns: 50% 50% !important;
    }
    .cities-card-cnt .city-card-mobile{
        display: block !important;
    }
    .cities-card-cnt .city-card{
        display: none !important;
    }
}

@media (max-width: 320px) {
    .banner-mobile{
        display: none;
    }
}

@media (min-width: 750px) {
    .banner-mobile{
        display: none;
    }
}

.projects-title {
    font-size: 17px;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex: 1;
    margin: 10px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
}

.projects-title div {
    flex: 1;
    border-top: 1px solid;
    margin: 0 10px;
}


.cities-card-cnt{
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.cities-card-cnt .city-card , .cities-card-cnt .city-card-mobile{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 #dcdbdb;
    display: block;
}

.cities-card-cnt .city-card-mobile{
    display: none;
}

.cities-card-cnt .city-card .city-card-cover , .cities-card-cnt .city-card-mobile .city-card-cover{
    height: 120px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.cities-card-cnt .city-card .city-card-title , .cities-card-cnt .city-card-mobile .city-card-title{
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #373736;
}

.cities-card-cnt .city-card .city-card-cover:hover , .cities-card-cnt .city-card-mobile .city-card-cover:hover{
    opacity: 1;
}

.cities-card-cnt .city-card .city-card-cover.casablanca , .cities-card-cnt .city-card-mobile .city-card-cover.casablanca{
    background-image: url('/images/casablanca-banner.webp');
}

.cities-card-cnt .city-card .city-card-cover.rabat , .cities-card-cnt .city-card-mobile .city-card-cover.rabat{
    background-image: url('/images/rabat-banner.webp');
}

.cities-card-cnt .city-card .city-card-cover.marrakech , .cities-card-cnt .city-card-mobile .city-card-cover.marrakech{
    background-image: url('/images/marrakech-banner.webp');
}

.cities-card-cnt .city-card .city-card-cover.agadir , .cities-card-cnt .city-card-mobile .city-card-cover.agadir{
    background-image: url('/images/agadir-banner.webp');
}

.cities-card-cnt .city-card .city-card-cover.tanger , .cities-card-cnt .city-card-mobile .city-card-cover.tanger{
    background-image: url('/images/tanger-banner.webp');
}

.cities-card-cnt .city-card .city-card-cover.fes , .cities-card-cnt .city-card-mobile .city-card-cover.fes{
    background-image: url('/images/fes-banner.webp');
}

.maplibregl-ctrl-attrib-inner.mapboxgl-ctrl-attrib-inner{
    display: none;
}

.filter-bar-cnt{
    display: flex;
    width: 900px;
    margin: auto;
    align-items: center;
}

.sort-select{
    padding: 1px 5px;
    font-size: 11px;
    border: 1px solid var(--lightgray-border-color);
}

.sort-label{
    margin-right: 5px;
    font-size: 13px;
}

.list-organizer{
    margin-top: 10px;
}

#map-filter-group{
    display: none;
}

.multilist-tab-filter{
    padding: 0 10px;
    text-align: end;
    padding-bottom: 10px;
}

.multilist-tab-filter #filter-btn{
    border: 0;
    background: transparent;
    color: var(--primary-color);
    font-size: 14px;
}

.continue-search{
    padding: 10px;
    text-align: center;
}

.continue-search-label{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.continue-search .btn{
    padding: 10px;
    text-align: center;
}

.continue-search-btn{
    padding: 5px 10px;
    border: 0;
    margin: 0 5px;
    border-radius: 20px;
}

.continue-search-btn.yes{
    color: #fff;
    background: var(--primary-color);
}

.continue-search-btn.no{
    background: transparent;
    color: var(--primary-color);
    border: 1px solid;
}

.btn-new-announcement-text-mobile{
    display: none;
}

.onlyMobile{
    display: none !important;
}

.localisation-row{
    flex-wrap: nowrap;
}

.localisation-row>.form-group{
    width: 50%;
}

@media (max-width: 767px) {

    .localisation-row{
        flex-wrap: wrap;
    }

    .localisation-row>.form-group{
        width: 100%;
    }

    .filter-section .type-item a img{
        height: 22px;
    }

    .filter-section .type-item{
        min-width: unset;
    }
    .notMobile{
        display: none !important;
    }
    .onlyMobile{
        display: block !important;
    }

    .filter-select-group{
        grid-template-columns: 100%;
    }
}

@media (max-width: 500px) {
    .btn-new-announcement-text-mobile{
        display: inline;
    }

    .btn-new-announcement-text{
        display: none;
    }

    .header .btn-new-announcement{
        padding: 8px 20px !important;
    }

    .continue-search-label , .continue-search-btn{
        font-size: 11px;
    }

    .filter-section h1{
        margin-bottom: 15px;
    }

    .filter-section .type-item a img{
        height: 15px;
    }
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 6px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.select2-results__options li{
    display: list-item;
}

.select2-container--default .select2-selection--single{
    box-shadow: 0px 2px 3px 0 #dedede !important;
    border: 1px solid #f0f0f0 !important;
    border-radius: 10px !important;
    font-size: 12px !important;
}

.select2-dropdown{
    font-size: 12px !important;
}



.cp-background {
    /* background-image: linear-gradient( 135deg, #bababa1f 10%, #0396ff00 100%); */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    margin: 1rem;
    /* border: 1px solid #def1ff; */
}

.cp-clipboard {
margin: auto 1rem;
border: 0;
padding: 3px;
border-radius: 3px;
background-image: linear-gradient( 135deg, #dee2e6a1 10%, #7b8592 100%);
cursor: pointer;
color: rgba(16, 16, 16, 0.945);
font-family: 'Karla', sans-serif;
font-size: 16px;
position: relative;
top: 0;
transition: all .2s ease;

}

.cp-background p {
font-weight: 700;
}


.ml-select{
    width:100%
}
.region ul li{
    display: flex;
    align-items: center;
}
.region ul li i {
    opacity: 0;
    color: #7f7f7fd1;
    margin-right: 7px;
    transition: all .3s ease-in-out;
}
.region ul li:hover i{
    opacity: 1;
}
.multiads{
    position: relative;
}
.multiads .univ{
    position: absolute;
    top: 25px;
    right: -37px;
    transform: rotate(45deg);
    background-color: #f3be2e;
    width: 162px;
    text-align: center;
    padding: 1px;
    color: #fff;
    box-shadow: 1px 1px 3px 1px #8d8c8c;
}
#flexible {
    height: 1rem !important;
    margin-bottom: 4rem;
}
#flexible a{
    margin-right: 0.2rem;
}
.hoverable:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.03);
    box-shadow: -1px 6px 5px 2px #6c757d24;
}
.list-item-container{
    transition: .3s all ease-in-out;
    /* background-color: #fff; */
}
/*
#menu{

    position: absolute;
    right: 0;
    /* transform: translate(-50%);
}

#menu .menu-item{
    text-decoration: none;
    position: relative;
}
#menu .menu-item::after{
    content: "";
    background: var(--primary-color);
    width: calc(100% + 20px);
    height: 0;
    z-index: -1;
    color: #fff;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#menu .menu-item:hover::after{
	height: calc(100% + 8px)
}
*/

.multiads .default-pic{
    position: absolute;
    top: 89px;
    right: 20%;
    z-index: -1;
}
.multiads .default-pic img{
    width: 200px;
    opacity: 0.8;
}
#shareModal .modal-content{
    border: none !important;
}

.multiads .publication-date{
    font-size: 10px;
    color: gray;
    margin-bottom: 5px;
}

.multiads-option{
    border-bottom: 1px solid var(--lightgray-border-color);
}

.multiads-option .current_option_card{
    font-size: 12px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin: 10px auto;
    padding: 2px 10px;
    width: fit-content;
}

.multiads-option .current_option_card .option_name{
    display: flex;
    align-items: center;
    justify-content: center;
}

.multiads-option .current_option_card .option_date{
    color: red;
    font-size: 10px;
}

.multiads-option .current_option_card i{
    margin-right: 5px;
}
